body {
  background-color: #413939;
  height: 100vh;
  width: 100vw; }
  body .container {
    height: 100vh;
    width: 100vw; }
    body .container .header-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw; }
      body .container .header-container h1 {
        color: pink;
        font-family: 'Bungee Outline', cursive;
        font-size: 2.8rem; }
      body .container .header-container .search-container {
        text-align: center;
        padding-bottom: 0.3rem; }
        body .container .header-container .search-container .button-container {
          margin-top: 0.4rem; }
          body .container .header-container .search-container .button-container button {
            height: 4vh;
            width: 10vw;
            font-size: 1.1rem;
            font-family: 'Fjalla One', sans-serif;
            color: grey;
            border-radius: 0.4rem;
            background-color: white; }
        body .container .header-container .search-container #searchText {
          width: 50vw;
          height: 4vh;
          text-align: center;
          font-family: 'Fjalla One', sans-serif;
          font-size: 1.2rem;
          color: gray;
          border-radius: 0.2rem; }
    body .container .tabs-container {
      width: 100vw;
      height: 60vh;
      color: 1px solid green; }
      body .container .tabs-container .item-list-container {
        margin-top: 2.5rem; }
        body .container .tabs-container .item-list-container .item-container .items {
          list-style: none; }
          body .container .tabs-container .item-list-container .item-container .items li {
            text-align: center;
            font-family: 'Bungee Outline', cursive;
            font-size: 2.2rem;
            color: pink; }
